@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500&family=Great+Vibes&family=La+Belle+Aurore&family=Meow+Script&family=Petit+Formal+Script&family=Yuji+Syuku&display=swap');

*, 
*::before, 
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary:'Yuji Syuku';
    --ff-secondary:'Petit Formal Script';

    --fw-regular: 200;
    --fw-bold: 400;

    --clr-light:#F2F2F2;
    --clr-dark:#1C261F;
    --clr-accent1:#F5F0D5;
    --clr-accent2:#003330;
    --clr-accent3:#610400;
    --clr-accent4:#4A8279;
    --clr-accent5:#BF1717;

    --fs-body: 1rem;
    --fs-a: 1rem;
}


body{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;

}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./Assets/pexels-kristina-paukshtite-3444345.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 135% 100%;
    background-position: center;
}

img{
    border-radius: 60%;
    height: 200px;
    border: 1px solid #8C5946;
    margin-left: 8em;
}

.month{
    display: flex;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: white solid .2rem ;
    background-color: var(--clr-accent3);
    opacity: 60%;
    padding: .5em;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

h1{
    font-family: var(--ff-secondary);
}

.linkButtons{
    height: 4rem;
    width: 15rem;
    background-color:var(--clr-accent2);
    margin-bottom: 1em;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.3);
    color:var(--clr-accent1);
    border-radius:5px;
    border: none;
    padding: .5rem;

}

a, p{
  
    text-decoration: none;
    font-size: 19px;
    font-weight: 100;
    font-family: var(--ff-primary);
    color:var(--clr-light)
}

p{
    margin-left: 1em;
  
}

#title{
    color: var(--clr-accent1);
    font-size: 1.75rem;
}

li{
    list-style: none;
   font-size: .75em;
}

.socialLinks{
    color: var(--clr-accent4);
    font-size: 2em;
    padding: .3em;

}

@media only screen and (min-width: 600px){
    body{
        background-color: var(--clr-accent2);
    }
    img{
        height: 100px;
    }
    .linkButtons{
        width: 20rem;
    }
    .container{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(./Assets/pexels-kristina-paukshtite-3444345.jpg);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.3);

      
    }
}